.btn {
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px -5px #000;
}

.primary {
    background-color: #FFF;
    color: #000;
}

.secondary {
    border: solid 1px #FFF;
    color: #FFF;
}
