.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header h1 {
  font-size: 2.5em;
}

.playersBox {
  display:inline-flex;
  gap: 5px;
  min-width: 100%;
  width: 100%;
}

.player {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 12px;
}

.player img {
    width: 30px;
}

.ex {
  border: solid 1px var(--primary-color);
  filter: saturate(0);
}

.oh {
  border: solid 1px var(--secondary-color);
  filter: saturate(0);
}

.active {
  filter: saturate(1);
}